{% extends 'base.html.twig' %}
                       
{% block body %}

    <!--
    Slider start
    ============================== -->
    <section id="slider" class="sdp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- slider close -->
   <!--
CONTACT US  start
============================= -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="title">
                            <h3> <span style="">NOTICE</span></h3>
                        </div>
                        <p class="wow fadeInUp" style="text-align:justify;" data-wow-duration="300ms" data-wow-delay="600ms">
                            Your reserve has been recive, soon we contact you to confirm.
                        </p>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->

    {% endblock %}    